<header class="hero">
  <h1>Znajdź idealne boisko w Twojej okolicy</h1>
  <div class="search-bar">
    <input type="text" placeholder="Szukaj po nazwie..." [ngModel]="search$.value" (input)="onSearchChange($any($event.target).value)">

    <select [ngModel]="type$.value" (change)="onTypeChange($any($event.target).value)">
      <option value="all">Wszystkie typy</option>
      <option value="Piłka nożna">Piłka nożna</option>
      <option value="Tenis">Tenis</option>
      <option value="Koszykówka">Koszykówka</option>
    </select>
  </div>
</header>

<main class="content" *ngIf="filteredCourts$ | async as courts; else loading">

  <div class="section-info" *ngIf="courts.length > 0">
    <h2>Dostępne obiekty ({{ courts.length }})</h2>
  </div>

  <div class="no-results" *ngIf="courts.length === 0">
    <p>Nie znaleziono boisk spełniających kryteria.</p>
  </div>

  <div class="courts-grid">
    <div class="court-card" *ngFor="let court of courts">
      <div class="court-image">
        <img [src]="court.image || 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.pngaaa.com%2F13%2F1887013-middle.png&f=1&nofb=1&ipt=5a6c1f59a6279ddcf7f64068397c3445e976526a16131363e2a28b135b691541'" alt="{{ court.name }}" />
      </div>
      <div class="court-info">
        <h3>{{ court.name }}</h3>
        <div class="footer">
          <span class="price">{{ court.pricePerHour || 0 }} zł / h</span>
          <button class="btn-details" [routerLink]="['/court', court._id || court.id]">Szczegóły</button>
        </div>
      </div>
    </div>
  </div>
</main>

<ng-template #loading>
  <p style="text-align: center; margin-top: 50px;">Ładowanie obiektów sportowych...</p>
</ng-template>
